<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-12 item-one" style="padding-top: 150px;color: #0f3669;">
            <h1 style="font-weight: 800;">Digitaliza tu empresa.</h1>
            <span style="color: #bdbbc8;">Ahorra tiempo y esfuerzo con nuestros servicios digitales.</span><br/>
            <button type="button" style="text-transform: uppercase; width: 120px;margin-top: 20px;font-size: 11px;" class="btn btn-register" (click)="onRegister()">Registrate</button>
        </div>
        <div class="col-md-8 col-sm-12 col-12">
            <img src="assets/img/hackathon/Principal.jpg" class="img-fluid img-land"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
            <div style="box-shadow: lightgrey 10px 8px 14px 8px;padding: 10px;border-radius: 20px;" class="box-item">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-3" style="text-align: center; padding-right: 0;">
                        <div class="circle-image" style="background-image: url(assets/img/hackathon/Tobey_Maguire_2014.jpg);background-size: cover;"></div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-9 item-text-prof" style="padding-left: 0;padding-top: 9px;">
                        <h5 style="font-size: 16px;font-weight: 600;margin-bottom: 0;">Juan Gómez</h5>
                        <p style="font-size: 12px; color: #bdbbc8;margin-bottom: 0;">Strategy manager</p>
                        <p style="font-size: 12px; color: #bdbbc8;margin-bottom: 4px;">PGM y Asociados</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p style="font-size: 12px;color: #bdbbc8;">Crear mi cuenta digital fue y será el mejor negocio y mi empresa. Todo porque BBVA tiene futuro y es difícil imaginar a una empresa que no necesite este servicio.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-6 col-12 item-med">
            <div class="row" style="font-weight: 700;font-size:11px;">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-blue">
                    <hr class="line-blue" />
                    <span>01.</span><br/>
                    <span>Crea tu cuenta digital en BBVA Empresas.</span>
                </div>
                <div class="col-md-3 text-gray">
                    <hr class="line-gray" />
                    <span>02.</span><br/>
                    <span>Completa tu perfil y obten todos los beneficios.</span>
                </div>
                <div class="col-md-3 text-gray">
                    <hr class="line-gray" />
                    <span>03.</span><br/>
                    <span>Firma digitalmente todas tus transacciones y envita las filas.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 100px; margin-bottom: 70px; text-align: center;">
        <div class="col-md-12">
            <h1 style="font-weight: 700;" class="text-blue">Ventajas Banca Digital Empresas</h1>
            <span style="font-size: 14px;font-weight: 700;" class="text-gray">Explora las posibilidades que tenemos de acuerdo a las necesidades de tu negocio</span>
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 50px;margin-bottom: 150px;">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card-shadow" style="position: relative;padding: 8px;">
                <img class="img-fluid" style="margin-top: 20px;" src="assets/img/hackathon/Icono_01.png" />
                <h5 style="margin-top: 20px;" class="text-blue">Doing business and acounting</h5>
                <p style="margin-top: 20px;margin-bottom: 50px;padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sociis natoque penatibus et magnis dis parturient montes. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing.</p>
                <button type="button" class="btn btn-bottom"><span>Saber más</span></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 boxes-one">
            <div  class="card-shadow" style="position: relative;padding: 8px;">
                <img class="img-fluid" style="margin-top: 20px;" src="assets/img/hackathon/Icono_02.png" />
                <h5 style="margin-top: 20px;" class="text-blue">Doing business and accounting</h5>
                <p style="margin-top: 20px;margin-bottom: 50px;padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sociis natoque penatibus et magnis dis parturient montes. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing.</p>
                <button type="button" class="btn btn-bottom"><span>Saber más</span></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 boxes-one boxes-two">
            <div class="card-shadow" style="position: relative;padding: 8px;">
                <img class="img-fluid" style="margin-top: 20px;" src="assets/img/hackathon/Icono_03.png" />
                <h5 style="margin-top: 20px;" class="text-blue">Doing business and accounting</h5>
                <p style="margin-top: 20px;margin-bottom: 50px;padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sociis natoque penatibus et magnis dis parturient montes. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing.</p>
                <button type="button" class="btn btn-bottom"><span>Saber más</span></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 boxes-one boxes-two">
            <div class="card-shadow" style="position: relative;padding: 8px;">
                <img class="img-fluid" style="margin-top: 20px;" src="assets/img/hackathon/Icono_04.png" />
                <h5 style="margin-top: 20px;" class="text-blue">Doing business and accounting</h5>
                <p style="margin-top: 20px;margin-bottom: 50px;padding-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sociis natoque penatibus et magnis dis parturient montes. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing.</p>
                <button type="button" class="btn btn-bottom"><span>Saber más</span></button>
            </div>
        </div>
    </div>
    
</div>