.active-item {
    background: #88d8d8;
    border-radius: 30px;
}

.circle-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.item-a {
    font-size: 16px;
    padding-left: 20px;
    color: #687A92 !important;
}

.inactive-item {
    background-color: transparent;
    transition: 0.5s;
}

.inactive-item:hover {
    background-color: #88d8d8 !important;
    border-radius: 30px;
}

.a-item {
    padding-top: 0 !important;
    padding-left: 0 !important;
    font-size: 14px !important;
}

.p-item {
    margin: 0 !important;
    font-size: 14px !important;
}


.grafica {
    position: absolute;
    left: 113px;
    top: 73px;
}

.vineta {
    position: absolute;
    left: 223px;
    top: 103px;
}

.p-in p {
    margin: 0;
}

@media (max-width: 565px) {
    .item-dashcompl {
        min-height: 300vh !important;
    }

    .item-graph {
        overflow: scroll !important;
    }

    .grafica {
        left: 50px !important;
    }

    .vineta {
        left: 150px !important;
    }
}

@media (max-width: 767px) {
    .item-dashcompl {
        min-height: 480vh !important;
    }
}