.active-item {
    background: #88d8d8;
    border-radius: 30px;
}

.item-a {
    font-size: 16px;
    padding-left: 20px;
    color: #687A92 !important;
}

.a-item {
    padding-top: 0 !important;
    padding-left: 0 !important;
    font-size: 14px !important;
}

.p-item {
    margin: 0 !important;
    font-size: 14px !important;
}

.card-container-custom {
    background-color: #f7f7f7;
    padding: 50px;
  }
  
  .profile-img-card {
    border-radius: 100% !important;
    width: 100px !important;
    margin: 0 auto !important;
  }
  
  .center-item {
    margin: 0 auto;
  }
  
  .card-container-custom {
    background-color: #f7f7f7;
    padding: 50px;
  }
  
  .profile-img-card {
    border-radius: 100% !important;
    width: 100px !important;
    margin: 0 auto !important;
  }
  
  .center-item {
    margin: 0 auto;
  }
  
  
  .login-card {
    box-shadow: lightgrey 0px 0px 16px 10px;
    border-radius: 10px;
  }
  
  
  .card-shadow {
    height: 100%;
    background-color: #2dcccd;
    border-radius: 10px;
  }
  
  .items-list {
    width: 100%;
    height: 30px;
    font-size: 16px;
  }
  
  .item-text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
  }
  
  .item-txt {
    padding: 30px;
    padding-top: 150px;
    font-size: 12px;
  }
  
  .inputs {
    font-size: 12px;
    padding: 18px;
    border-radius: 10px;
  }
  
  .form-label {
    font-size: 12px;
  }

  .btn-blue {
    background-color: #0f3669;
     width: 100%;
     border-radius: 10px;
     transition: 0.5s;
     color: white;
     font-size: 12px;
  }
  
  .btn-blue:hover {
    background-color: white !important;
    color: #0f3669;
    box-shadow: 0px 0px 10px 5px;
  }
  
  .btn-gray {
    background-color: #e5e5e5;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    font-size: 12px;
  }
  
  .btn-gray:hover {
    background-color: white !important;
    color: black;
    box-shadow: 0px 0px 15px 3px;
  }
  
  
  .item-buttons {
    position: absolute;
      width: 100%;
      margin-top: 85px;
  }
  
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }
  
  .btn_upload {
    width: 100%;
    border: 1px solid #e5e5e5;
    color: #687A92;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .error-labels {
    font-size: 12px;
    margin-top: 10px;
  }

  ::ng-deep .modal-content {
    border-radius: 20px !important;
  }

  .inactive-item {
    background-color: transparent;
    transition: 0.5s;
}

.inactive-item:hover {
    background-color: #88d8d8 !important;
    border-radius: 30px;
}

@media (max-width: 565px) {
  .item-docs {
    height: auto !important;
  }
  .item-regs-docs {
    min-height: 220vh;
  }
  .item-menu {
    padding-bottom: 0px !important;
  }
} 

@media (max-width: 767px) {
  .item-docs {
    height: auto !important;
  }
  .item-regs-docs {
    min-height: 300vh;
  }
  .item-menu {
    padding-bottom: 0px !important;
  }
} 
  
