<div class="container">
    <header class="jumbotron">
        <h3 style="margin-bottom: 25px;">Detalle de la imágen</h3>
        <div class="card shadow" *ngIf="card">
            <div class="card-body">
                <h5 class="card-title">Título: {{card.title}}</h5>
                <p class="card-text">Descripción: {{card.description}}</p>
                <h4>Imagenes asociadas:</h4>
                <div class="row">
                    <div class="col-md-4" *ngFor="let cc of card.images">
                        <div class="card">
                            <img src="{{card.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{cc.id}}</h5>
                                <p class="card-text">{{cc.imagePath}}</p>
                                <p class="card-text">{{cc.imageFileName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>