.active-item {
    background: #88d8d8;
    border-radius: 30px;
}

.item-a {
    font-size: 16px;
    padding-left: 20px;
    color: #687A92 !important;
}

.inactive-item {
    background-color: transparent;
}

.a-item {
    padding-top: 0 !important;
    padding-left: 0 !important;
    font-size: 14px !important;
}

.p-item {
    margin: 0 !important;
    font-size: 14px !important;
}

.inactive-item {
    background-color: transparent;
    transition: 0.5s;
}

.inactive-item:hover {
    background-color: #88d8d8 !important;
    border-radius: 30px;
}

@media (max-width: 575px) { 

    .profile-item {
        background-size: contain !important;
        background-size: 100% 100% !important;
        background-position-x: 0px !important;
    }
}

@media (max-width: 767px) { 

    .profile-item {
        background-size: contain !important;
        background-size: 100% 100% !important;
        background-position-x: 0px !important;
    }
}